.pokedex{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: stretch;
    column-gap: 15px;
    padding-left: 20%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 20%;
    background-color: rgb(255,3,44);
    font-family: 'Chakra Petch', sans-serif;
    font-size: medium;
}
.pokemon{
    grid-column: 1;
    background-color: black;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}
.poke-image{
    display: block;
    text-align: center;
}
.search-box{
    padding-top: 5%;
    grid-column: 2;
    grid-template-rows: 2;
    /* justify-content: center; */
    background-color: rgb(157,157,157);
}
.search-bar{
    display: block;
    text-align: center;
}
.search-btn{
    background-color: rgb(123,169,247);
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}
.search-list{
    display: grid;
    padding-left: 5%;
    padding-right: 5%;
    grid-template-columns: 40% 40% 40%;
    font-weight: bold;
}
.search-item{
    justify-self: start;
}


/*Type Colors*/
.normal {
    background-color: rgb(168,168,120);
}
.fighting{
    background-color: rgb(192,48,40);
}
.flying{
    background-color: rgb(168,144,240);
}
.poison{
    background-color: rgb(160,64,160);
}
.ground{
    background-color: rgb(224,192,104);
}
.rock{
    background-color: rgb(184,160,56);
}
.bug{
    background-color: rgb(168,184,32);
}
.ghost{
    background-color: rgb(112,88,152);
}
.steel{
    background-color: rgb(184,184,208);
}
.fire{
    background-color: rgb(240,128,48);
}
.water{
    background-color: rgb(104,144,240);
}
.grass{
    background-color: rgb(120,200,80);
}
.electric{
    background-color: rgb(248,208,48);    
}
.psychic{
    background-color: rgb(248,88,136);
}
.ice{
    background-color: rgb(152,216,216);
}
.dragon{
    background-color: rgb(112,56,248);
}
.dark{
    background-color: rgb(112,88,72);
}
.fairy{
    background-color: rgb(255,155,225);
}
.unknown{
    background-color: rgb(28,156,136);
}
.shadow{
    background-color: rgb(97,50,149);
}